.footer {
  background-color: black;
  margin-top: 50px;
  font-weight: 500;
  padding: 20px;
  color: rgb(160, 2, 141);
  border-top: 1px rgba(58, 58, 58, 0.532) solid;
  display: flex;
  justify-content: space-between;
}

.data p {
  padding: 0;
  margin-bottom: 0;
  font-size: 10px;
  cursor: pointer;
}

a {
  color: inherit;
}

.data {
  margin: 10px 20px;
}

.logo {
  align-items: center;
  margin: 20px 30px;
}
.logo svg {
  margin-right: 20px;
  cursor: pointer;
}
