@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(231, 231, 255);
}

#carousel {
  max-height: 550px;
  object-fit: contain;
  min-height: 200px;
}
.carousel-inner {
  max-height: 550px;
  min-height: 200px;
}
